body {
    background: black;
    height: 100vh;
    display: flex;
    overflow: hidden;
}
.spinner{
    width: 10em;
    height: 10em;
    border-top: 1em solid red;
    border-right: 1em solid transparent;
    border-radius: 50%;
    margin: auto;
    animation: spinner 2s linear infinite;
}
.circle{
    width: 1em;
    height: 1em;
    background-color: #1AFF00;
    border-radius: 50%;
    margin-left: 8.5em;
    margin-top: 0.4em;
}
@keyframes spinner {
    100%  { transform: rotate(360deg);}
}
 

   
